@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*General styles*/
* {
    font-family: "VT323", monospace;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    background-color: #000000;
    color: #41FF00;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*Internal borders*/
    border-block-width: 4px;
    border-block-color: #B98205 ; /*Styles the top and bottom border line*/
    border-inline-color: #B98205; /*Styles the left and right border line*/
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
header {
    z-index: 99;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2rem;
}
h1, footer, footer p {
    background-color: #FFB000;
    color: #000000;
}
h1, h2 {
    font-size: calc(20px + 3vw);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
a {
  text-decoration: none;
}
button, #game-container p, #witchName {
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    font-size: calc(8px + 3vw);
}
/*Colour variation for the options buttons*/
.button2 {
    background-color: #7b142c;
    color: #ffffff;
}
#generator {
    width: 50%;
    justify-self: right;
}
/*Button animation*/
.button-animated {
    background-color: #008372;
    color: #ffffff;
    border-radius: 10px;
}
.button-animated:hover, .button2:hover {
    background-color: #FFB000
}
.button-animated:active, .button2:active {
    background-color: #008372;
    box-shadow: 0 5px #aaaa5b;
    transform: translateY(4px);
}
/*Instructions*/
details summary::marker {
    display: none;
    font: var(--fa-font-regular);
    content: "\f059";
}
#help, details[open] {
    align-self: self-end;
    width: 80%;
}
/*Game*/
main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    margin-top: 12rem;
}
#game-container {
    width: 80%;
    margin: 0 2.5rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#witchName {
    background-color: #b98205;
    color: #000000;
    height: 3rem;
    width: 100%;
}
::placeholder {
    color: #ffffff;
}
/*Characters*/
.portrait, .witch-gif {
    align-self: flex-start;
    height: 6rem;
}
.knight-gif {
    height: 6rem;
    align-self: flex-end;
}
.big-gif {
    height: 16rem;
}
/*Footer*/
footer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}
#credits > a {
    background-color: #000000;
    color: #41FF00;
}
#credits {
    display: flex;
    flex-direction: column;
    align-items: center;
}